body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    margin: 20px;
    background-color: #2d545e;
}

header {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 35px;
}

.container {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    box-shadow: rgb(224, 221, 221);
}

h2 {
    color: black;
}

button {
    cursor: pointer;
}

.message {
    margin-top: 10px;
    font-weight: bolder;
}